:host {
  display: block;
}

.ticket-item {
  display: flex;
  background-color: #fff;
  padding: .3rem;
  border: 2px solid #dad5d5;
  border-radius: 2px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: .4rem;
  & .ticket-title {
    padding: 2px;
  }
  & img {
    height: 200px;
    border: 1px solid #000;
    border-radius: .4rem;
  }
  &:hover {
    transform: translateY(-10px) scale(1.02);
    border: 2px solid #2b11d0;
    filter: drop-shadow(0 35px 18px rgba(0, 0, 0, .5));
    transition: scale 0.5s ease-in-out, transform  0.5s ease-in-out;
  }
}
.ticket-border {
  border: 2px solid #2b11d0;
  filter: drop-shadow(0 25px 10px rgba(0, 0, 0, .3));
  border-radius: .4rem;
  overflow: hidden;
  &:hover {
    transform: translateY(-20px);
    border: 2px solid #3e02f3;
    filter: drop-shadow(0 35px 18px rgba(0, 0, 0, .5));
    scale: 1.02;
  }
}
.slowMoveUp {
  transition: scale 0.5s ease-in-out, transform  0.5s ease-in-out;
  transform: translateY(-20px);
  border: 2px solid #3e02f3;
  filter: drop-shadow(0 35px 18px rgba(0, 0, 0, .5));
  scale: 1.02;
}
