<div>
  <h6>Тип меню</h6>
  <p-dropdown [options]="menuTypes"
            [(ngModel)]="selectedMenuType"
            optionLabel="label"
            (onChange)="changeType($event)"></p-dropdown>
</div>
<div class="mt-3">
  <p-dropdown
  [options]="tourTypes"
  optionLabel="label"
  (onChange)="changeTourType($event)"
  >
  </p-dropdown>
</div>
<div class="mt-3">
  <p-calendar (onSelect)="selectDate($event)" ></p-calendar>
</div>

<div (click)="initRestError()">
  initRestError
</div>

<div class="mt-3">
  <button (click)="initSettingsData()" type="reset" class="btn btn-primary">Обновить настройки</button>
</div>
<p-toast position="top-left"></p-toast>
