<p-tabView>
  <p-tabPanel header="{{userName}} Смена пароля">

    <div
    class="mt-3 user-info"
    (ngSubmit)="onSubmit()"
    >
    <div class="mt-1">
      <span class="mx-3">Пароль</span>
      <input
        type="text"
        class="mt-1"
        pInputText placeholder="Пароль"
        [(ngModel)]="password"
      />
    </div>
    <div class="mt-1">
      <span class="mx-3">Новый пароль</span>
      <input
        type="text"
        class="mt-1"
        pInputText
        placeholder="Новый пароль"
        [(ngModel)]="newPassword"
      />
    </div>
    <div class="mt-1">
      <span class="mx-3">Повторите пароль</span>
      <input
        type="text"
        class="mt-1"
        pInputText
        placeholder="Повторите пароль"
        [(ngModel)]="repeatNewPassword"
      />
    </div>
    <div class="mt-2">
      <button
        class="btn-success btn"
        type="submit"
        (click)="changePass($event)"
      >
        Сменить пароль
      </button>
    </div>

    </div>

  </p-tabPanel>
</p-tabView>

<p-toast position="top-left"></p-toast>
